/*========== Page de presentation ==========*/
/*=====================================*/

.nav {
    display: flex;
    justify-content: space-evenly;
    color: rgb(99, 39, 39);
    border-bottom: 2px solid gray;
    width: 100%;
    height: 15%;
    font-size: 2rem;
    font-family: 'Crimson Pro', serif;
    background-color: rgb(218, 224, 190);
}

.des {
    width: 20%;
    padding-top: 9%;
    padding-right: 0%;
}

.navacc h1 {
    text-align: center;
    color: green;
    font-size: 4rem;
    font-family: 'Crimson Pro', serif;
    border-top: 2px solid greenyellow;
    border-bottom: 1px solid rgb(57, 211, 37);
}

.navbuttona {
    border: 2px solid black;
    border-radius: 100px;
    text-align: center;
    margin: 20px;
    padding: 10px 20px;
    margin-right: 0;
    background-color: rgb(142, 228, 130);
}

#nomdusite {
    text-align: center;
    color: green;
    font-size: 3rem;
    border-bottom: 2px solid gray;
    font-family: 'Crimson Pro', serif;
}

.ludotheque {
    width: 100%;
    height: 40%;
}

#accesgame {
    font-size: 3rem;
    padding: 10px;
    margin: 5% 20%;
    background-color: rgb(142, 228, 130);
    border: 2px solid rgb(5, 31, 3);
    border-radius: 100px;
    color: white;
    text-align: center;
}

#createnew {
    text-align: center;
    color: rgb(142, 228, 130);
    font-size: 1.5rem;
    margin-bottom: 300px;
}

/*========== Page formulaire ==========*/
/*=====================================*/

.form {
    margin: 1%;
    padding: 2%;
    border-radius: 10px;
    box-shadow: 0px 0px 12px 2px rgba(196, 196, 196, 0.534);
    text-align: center;
    font-family: 'Crimson Pro', serif;
    font-size: 2rem;
    background-color: rgb(213, 247, 199);
}

.btn {
    text-align: center;
    margin: 50px 0;
}

/*========== Page jeu index ==========*/
/*=====================================*/

h1 {
    text-align: center;
}

.jeutheme {
    margin: 1%;
    padding: 2%;
    border-radius: 10px;
    box-shadow: 0px 0px 12px 2px rgba(196, 196, 196, 0.534);
    text-align: left;
    font-family: 'Crimson Pro', serif;
    font-size: 2rem;
    background-color: rgb(213, 247, 199);
}

.buttonaccdansjeu {
    text-align: center;
    margin: 150px 0;
}

.ajoutjeudansjeu {
    text-align: center;
    color: rgb(142, 228, 130);
    font-size: 1.5rem; 
}

/*========== Page jeu show ==========*/
/*=====================================*/

.media-body {
    margin: 1%;
    padding: 2%;
    border-radius: 10px;
    box-shadow: 0px 0px 12px 2px rgba(196, 196, 196, 0.534);
    text-align: center;
    font-family: 'Crimson Pro', serif;
    font-size: 2rem;
    background-color: rgb(213, 247, 199);
}

#retourjeu {
    text-align: center;
    margin: 30px;
}

#miseajourjeu {
    text-align: center;
    margin: 30px;
}

#supprimerjeu {
    text-align: center;
    margin-bottom: 150px;
}

/*========== Page categories index ==========*/
/*=====================================*/

.affichagecategories {
    margin: 2%;
    padding: 2%;
    border-radius: 10px;
    box-shadow: 0px 0px 12px 2px rgba(196, 196, 196, 0.534);
    text-align: left;
    font-family: 'Crimson Pro', serif;
    font-size: 2rem;
    background-color: rgb(213, 247, 199);
}

/*========== Page categories show ==========*/
/*=====================================*/

.m-5 {
    margin: 2%;
    padding: 2%;
    border-radius: 10px;
    box-shadow: 0px 0px 12px 2px rgba(196, 196, 196, 0.534);
    text-align: left;
    font-family: 'Crimson Pro', serif;
    font-size: 2rem;
    background-color: rgb(213, 247, 199);
}

#derniersjeux {
    text-align: center;
}